$white: white;
$supernova: #ffcb05;
$bluish: #2a75bb;
$alice-blue: #f0f8ff;
$gray-goose: #d0d0d0;
$pasterl-gray: #ccc;
$artyclick-deep-sky-blue: #007bff;
$medium-green: #28a745;
$sea-green: #218838;
$medium-teal-blue: #0056b3;
$ultramarine-blue: #474bff;

$app-background: $alice-blue;
$container-backgraound: $white;
$header-background: $supernova;
$header-text-color: $bluish;
$input-border: $pasterl-gray;
$button-background: $medium-green;
$button-hover: $sea-green;
$random-button-background: $artyclick-deep-sky-blue;
$random-button-hover: $medium-teal-blue;
$card-image-border: $supernova;
$card-info-border: $gray-goose;
$spinner: $ultramarine-blue;
