@import '../../styles/colors.scss';

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

.card__container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card__image img {
  border-radius: 50%;
  border: 2px solid $card-image-border;
  width: 200px;
  height: 200px;
}

.card__info {
  border-top: 2px solid $card-info-border;
  padding: 16px;
  text-align: center;
  width: 100%;
}

.card__info h3,
.card__info h4 {
  margin: 10px 0;
  color: $bluish;
}

.card__info h4 {
  font-size: 1.2rem;
}
